<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid cha-padding">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://www.media.net/">
        <img src="assets/images/logo.svg" alt="Media.net">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>