<div class="container-fluid">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <div class="cha-main">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Ticker</th>
              <th scope="col">Price</th>
              <th scope="col">Last Update</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key,value) in vm.stockList track by key" ng-if="value.name">
              <th scope="row">{{value.name}}</th>
              <td ng-class="{'glyphicon glyphicon-arrow-up':value.color=='green','glyphicon glyphicon-arrow-down':value.color=='red','blacktext':value.color=='white'}"
                ng-style="{'background-color':value.color,'color':'#fff'}">{{value.newValue}}</td>
              <td>{{vm.formatDate(value.update)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 col-md-6">

      </div>
    </div>
  </div>

</div>